Source: anarchistos-keyring
Section: main
Priority: extra
Maintainer: AreYouLoco? <areyouloco@paranoici.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://www.anarchistos.tk/

Package: anarchistos-keyring
Architecture: all
Depends: gpgv
Recommends: gnupg
Description: AnarchistOS GnuPG archive key
 Provides the archive key used on repo.anarchistos.tk
