Source: anarchistos-keyring
Section: main
Priority: extra
Maintainer: AreYouLoco? <areyouloco@paranoici.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.0.0
Vcs-Browser: https://github.com/anarchistos/anarchistos-keyring
Vcs-Git: git://github.com/anarchistos/anarchistos-keyring.git
Homepage: https://www.anarchistos.tk/

Package: anarchistos-keyring
Architecture: all
Depends: gpgv
Recommends: gnupg
Description: AnarchistOS GnuPG archive key
 Provides the archive key used on repo.anarchistos.tk
